.artists-index
  width: 100%
  margin: 30px 0 0 0
  padding: 0
  display: flex
  flex-direction: column

  +e(nosearch)
    color: $light-dark
    font-weight: 300
    margin: 40px 0 0 40px

  +min-screen($tablet-break)
    flex-direction: row
    margin: 80px auto
    border-top: none

  +e(wrapper)
    width: 100%
    margin: 30px 0
    padding: 0
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between

    &:after
    content: ""
    flex: auto

    +min-screen($tablet-break)
      width: 80%
      justify-content: flex-start

  +e(artlist)
    width: 50%
    text-decoration: none
    line-height: 1.1
    color: $light-dark
    letter-spacing: 0.05em
    text-transform: uppercase
    text-decoration: none

    &:hover
      h2
        font-weight: 600

    +min-screen($tablet-break)
      width: 33.3%

    img
      width: 90%
      margin: 5% 5% 0

      +min-screen($tablet-break)
        width: 85%
        margin: 5% 0 0 15%

      +min-screen(900px)
        width: 80%
        margin: 7% 0 0 20%

      +min-screen($desktop-break)
        width: 75%
        margin: 10% 0 0 25%

    +m(title)
      color: $light-dark
      width: 80%
      margin: 5px 10%
      font-size: 11px

    +m(info)
      color: $super-light-dark
      width: 80%
      margin: 5px 10%
      font-size: 10px

    +m(name)
      color: $dark
      width: 90%
      margin: 5px 5% 30px 5%
      font-size: 12.5px
      text-align: right
      font-weight: 300

      +min-screen($tablet-break)
        width: 85%
        margin: 5% 0 30px 15%
