.exhibitions
  width: 90%
  margin: 80px 5%
  +min-screen($tablet-break)
    margin: 80px 5%

  +e(images)
    margin: 0
    padding: 30px 0

    h2
      font-size: 16px
      font-weight: 300
      color: #666

    img
      width: 100%
      border: 1px solid #999

      +min-screen($tablet-break)
        width: 46%
        float: left
        margin: 2%

    +m(line)
      width: 100%
      height: 2px
      background: #999
      display: block
