.navigation
  display: flex
  flex-direction: row
  justify-content: center
  z-index: 1000
  top: 0
  position: fixed
  background: rgba(255, 255, 255, 0.5)
  width: 100%

  +min-screen($tablet-break)
    justify-content: space-around

  +e(logo)
    padding: 15px 15px 0 20px
    width: 100%
    text-align: right
    background: white

    +min-screen($tablet-break)
      width: auto

    img
      width: 150px
      height: 43px

      +min-screen($mobile-break)
        width: 175px
        height: 50px

      +min-screen($desktop-break)
        width: 200px
        height: 57px

  +e(button)   // BUTTON CLASSES
    position: absolute
    top: 20px
    left: 20px
    width: 25px
    height: 25px
    cursor: pointer
    z-index: 100
    transition: opacity .25s ease
    transition: margin 1s ease-in-out

    +min-screen($tablet-break)
      display: none

    +m(active)

      .nav-button-top
        transform: translateY(10px) translateX(0) rotate(45deg)
        background: #333

      .nav-button-middle
        opacity: 0
        background: #333

      .nav-button-bottom
        transform: translateY(-10px) translateX(0) rotate(-45deg)
        background: #333

    span
      background: #333
      border: none
      height: 3px
      width: 100%
      position: absolute
      top: 0
      left: 0
      transition:  all .35s ease
      cursor: pointer

      &:nth-of-type(2)
        top: 10px

      &:nth-of-type(3)
        top: 20px

  +e(container)  // NAVIGATION MENU CLASSES
    width: 100%
    z-index: -1
    top: -190px
    position: absolute
    list-style: none
    align-self: center
    transition: all 1s ease-in-out
    background: white
    border-bottom: 1px solid black
    background: white
    padding-bottom: 25px

    +m(open)
      top: 50px !important

      +min-screen($tablet-break)
        top: auto !important

    +min-screen($tablet-break)
      top: 0
      position: relative
      border-bottom: none
      padding-bottom: 0
      height: 70px
      line-height: 70px

    +min-screen($desktop-break)
      height: 77px

    ul
      list-style: none
      padding: 0

      +min-screen($tablet-break)
        margin: 5px 0 0 0

      li
        width: 100%
        text-align: left
        margin: 0 0 0 20px
        height: 25px

        +min-screen($tablet-break)
          display: inline-block
          width: auto

        a
          text-decoration: none
          font-size: 14px
          color: #333
          letter-spacing: 0.05em
          cursor: pointer
          -webkit-backface-visibility: hidden; // prevents an annoying flicker on hover
          position: relative
          padding-bottom: 1px

          &:before
            background-color: #333
            content: ""
            height: 1px
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            transform: scaleX(0)
            transition: all 0.3s ease-in-out 0s

          &:hover:before
            transform: scaleX(1)

          &:hover
            color: #000

          +min-screen($tablet-break)
            font-size: 13px
            margin: 0
            padding-bottom: 3px

          +min-screen(800px)
            font-size: 15px

          +min-screen($desktop-break)
            font-size: 18px
            margin: 0 0 0 10px
            padding-bottom: 5px

  +e(mobile)
    display: block

    +min-screen($tablet-break)
      display: none

    +m(line)
      width: 50px
      height: 1px
      background: #999
      margin: 0 0 0 20px

    +m(form-title)
      font-size: 12px
      font-weight: 200
      margin: 15px 0 10px 20px
      padding: 0
      color: #666

    +m(email-form)
      width: 90%
      margin: 0 5%
      padding: 0
      display: flex
      flex-direction: row

    +m(enter-email)
      width: 75%
      background: url(img/mail-icon.png) no-repeat 7px 5px
      padding-left: 37px
      box-shadow: none
      border: 1px solid #333
      margin-right: 10px

    +m(signup-button)
      width: 25%
      background: white
      border: 1px solid #333
      box-shadow: none
      font-size: 12px

      &:hover
        background: #666
        color: white

  // STYLE TO MOVE CONTENT DOWN WHEN NAVIGATION IS CLICK IN MOBILE
.site-wrapper
  margin-top: 0
  transition: all 1s ease-in-out
  position: relative
  display: block
  width: 100%

.site-wrapper-open
  margin-top: 240px
