.navigation
  top: 0
  position: fixed
  background: white
  width: 100%
  height: 65px
  z-index: 2

  +min-screen($tablet-break)
    justify-content: space-around

  +e(background)
    width: 100%
    height: 65px
    background: white
    position: fixed
    z-index: 2

  +e(logo)
    padding: 0
    margin: 0
    width: 150px
    height: 37px
    background: white
    position: relative
    z-index: 5
    margin: 15px 0 0 10px

    +min-screen($tablet-break)


    +min-screen($desktop-break)


    img
      width: 150px
      height: 37px

  +e(container)
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 94%
    margin: 0 3%
    transition: all 1s ease-in-out

    +min-screen($tablet-break)
      width: 86%
      margin: 0 7%

    +min-screen(767px)
      justify-content: flex-start

    +min-screen($desktop-break)
      width: 74%
      margin: 0 13%
      max-width: 1200px
      margin: 0 auto

  +e(button)   // BUTTON CLASSES
    position: relative
    margin: 23px 20px 0 0
    width: 25px
    height: 25px
    cursor: pointer
    z-index: 100
    transition: opacity .25s ease
    transition: margin 1s ease-in-out

    +min-screen(767px)
      display: none

    +m(active)

      .nav-button-top
        transform: translateY(10px) translateX(0) rotate(45deg)
        background: #333

      .nav-button-middle
        opacity: 0
        background: #333

      .nav-button-bottom
        transform: translateY(-10px) translateX(0) rotate(-45deg)
        background: #333

    span
      background: #333
      border: none
      height: 3px
      width: 100%
      position: absolute
      top: 0
      left: 0
      transition:  all .35s ease
      cursor: pointer

      &:nth-of-type(2)
        top: 10px

      &:nth-of-type(3)
        top: 20px

  +e(links)
    display: none

    +m(active)
      border-bottom: 1px solid $light-dark

    +min-screen(768px)
      display: block
      list-style: none
      padding: 0
      margin: 25px 0 0 30px

      li
        display: inline-block

        a
          text-decoration: none
          font-size: 12px
          color: #333
          letter-spacing: 0.05em
          cursor: pointer
          -webkit-backface-visibility: hidden; // prevents an annoying flicker on hover
          position: relative
          padding-bottom: 1px
          text-transform: uppercase
          margin-right: 15px

          &:hover
            border-bottom: 1px solid $light-dark

          +min-screen(900px)
            margin-right: 22px

          +min-screen($desktop-break)
            margin-right: 28px
            font-size: 13px

  +e(mobile)
    display: block
    width: 100%
    z-index: 1
    top: -185px
    left: 0
    position: absolute
    list-style: none
    align-self: center
    transition: all 1s ease-in-out
    background: white
    border-bottom: 1px solid $super-light-dark
    background: white

    +m(background)
      width: 100%
      position: absolute
      top: 0
      left: 0
      height: 65px
      z-index: 2
      background: white
      display: block

      +min-screen(767px)
        display: none

    +min-screen(767px)
      display: none

    +m(open)
      top: 60px !important
      left: 0

    +m(links)
      list-style: none

      li
        display: block

        a
          text-decoration: none
          font-size: 14px
          color: #333
          letter-spacing: 0.05em
          cursor: pointer
          position: relative
          padding-bottom: 1px
          text-transform: uppercase
          margin-right: 15px

          &:hover
            border-bottom: 1px solid $light-dark

    +m(links-active)
      border-bottom: 1px solid $light-dark

    +m(line)
      width: 125px
      height: 1px
      background: $super-light-dark
      margin: 0 0 0 40px

  +e(icons)
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin: 20px 0 20px 30px

    a
      width: 25px
      height: 25px
      margin: 0 10px
      opacity: 0.8

      &:hover
        opacity: 1

      img
        width: 100%
